@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.contenedor {
    background-image: url('/assets/images/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-section {
    padding: 20px;
    text-align: center;
}

.logo-section {
    background: linear-gradient(45deg, #010304, #121A2F);
    width: 400px;
    height: 500px;
    display: flex; /* Usa flexbox para centrar verticalmente */
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    color: white;
}

.register-section {
    background-color: white;
    width: 400px;
    height: 500px;
    display: flex; /* Usa flexbox para centrar vertical y horizontalmente */
    flex-direction: column; /* Coloca los elementos en una columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    font-family: "Outfit", sans-serif; /* Aplica la fuente Outfit */
    font-size: 14px; /* Tamaño de fuente */
}

.form-group {
    display: flex; /* Usa flexbox para alinear los elementos verticalmente */
    align-items: center; /* Centra verticalmente los elementos */
    margin-bottom: 6%; /* Ajusta el espaciado entre grupos de formulario */
    width: 100%; /* Asegura que el contenedor tome el 100% del ancho disponible */
}

.form-group img {
    margin-right: 15px; /* Ajusta el margen derecho de la imagen */
}

.form-group input {
    border: none; /* Quita el borde */
    border-bottom: 1px solid #ccc; /* Agrega un borde inferior */
    outline: none; /* Quita el contorno al enfocar */
    background-color: transparent; /* Hace el fondo transparente */
    font-family: "Outfit", sans-serif; /* Aplica la fuente Outfit */
    font-size: 16px; /* Tamaño de fuente */
    padding: 8px 0; /* Añade un poco de relleno superior e inferior */
    width: 100%; /* Ajusta el ancho al 100% */
    box-sizing: border-box; /* Hace que el tamaño incluya el borde y el relleno */
}

/* Estilos para el checkbox */
.form-group input[type="checkbox"] {
    width: 20px; /* Tamaño del checkbox */
    height: 20px;
    border: 2px solid #000000; /* Borde del checkbox */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar por encima */
    outline: none; /* Quita el contorno al enfocar */
    margin-right: 22px; /* Espacio entre el checkbox y el texto */
    margin-left: 4px;
}

.form-group label[for="recordar"] {
    color: #777777;
}

.recuperar-contraseña {
    font-size: 12px; /* Tamaño de fuente */
    color: #777777; /* Color del texto similar al de un placeholder */
    cursor: pointer;
    justify-content: space-between;
    text-decoration: none;
    margin-left: auto;
}

.recuperar-contraseña:hover {
    text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}

.form-group input[type="checkbox"]::before {
    content: ''; /* Añade un contenido vacío */
    display: block; /* Muestra como bloque */
    width: 100%;
    height: 100%
}

.register-section h3 {
    margin-bottom: 15%; /* Ajusta el margen inferior para separar el título del formulario */
}

.bt {
    background: linear-gradient(to right, #010304, #121A2F);
    color: white;
    border-radius: 12px;
    height: 30px;
    width: 120px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    margin-top: 10%;
}

/* Estilos para elementos inválidos del formulario */
.is-invalid {
    border: 1px solid red;
}

.invalid-feedback {
    color: red;
    font-size: 0.875em;
    margin-top: 5px; /* Añade un margen superior para separar del campo de entrada */
    width: 100%; /* Asegura que el mensaje de error tome el 100% del ancho disponible */
    text-align: left; /* Alinea el mensaje de error a la izquierda */
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left; /* Para alinear el texto a la izquierda */
}
@media (max-width: 768px) {
    .contenedor {
        flex-direction: column; /* Cambia la dirección a columna para pantallas más pequeñas */
        height: auto; /* Ajusta la altura automática */
    }

    .logo-section {
        display: none; /* Oculta la sección de logo en pantallas pequeñas */
    }
    .register-section {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {
    .register-section {
        font-size: 12px; /* Reduce el tamaño de fuente para pantallas muy pequeñas */
    }

    .form-group img {
        width: 24px; /* Ajusta el tamaño de la imagen */
        height: 24px;
    }

    .bt {
        width: 100px; /* Reduce el tamaño del botón */
        height: 30px;
        font-size: 12px;
    }
    .logo-section {
        display: none; /* Oculta la sección de logo en pantallas pequeñas */
    }
}