<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./login.component.css">
</head>
<body>
    <div class="contenedor">
        <div class="register-section">
          <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <h3>INICIAR SESION</h3>
            <div class="form-group">
              <img src="assets/images/buzon 1.png" alt="user-img">
              <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-group">
              <img src="assets/images/cerrar-con-llave 1.png" alt="user-img">
              <input type="password" [(ngModel)]="contrasena" name="contrasena" placeholder="Contraseña" required>
            </div>
            <div class="form-group">
              <input type="checkbox" id="recordar">
              <label for="recordar">Recordarme</label>
              <a href="#" class="recuperar-contraseña">Recuperar contraseña</a>
            </div>
            <button type="submit" class="bt" [disabled]="!loginForm.form.valid">Ingresar</button>
          </form>
        </div>
        <div class="logo-section">
          <img src="assets/images/LOGO-SOLITEK-PNG.png" width="250" height="250" alt="user-img">
        </div>
      </div>
      
</body>
</html>
