<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu cliente</title>
  <link rel="stylesheet" href="menu-client.component.css">
</head>
<body>
  <header>
    <button class="logo-button">
        <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
    </button>
    <div class="header-right">
        <span>ALEX FRANCO</span>
        <button class="logo-button" (click)="toggleMenu()">
            <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
        </button>
        <div class="dropdown-menu" *ngIf="menuVisible">
          <ul>
              <li (click)="navigateTo('/user-edit')">Perfil</li>
              <li (click)="logout()">Cerrar Sesión</li>
          </ul>
      </div>
    </div>
  </header>
  
  <div class="container">
      <div class="contenedor-resumen">
        <h3>Tu resumen de actividad</h3>
        <div class="formulario">
            <h3>Historial de tickets</h3>
            <div class="form-group">
            <label for="num1" id="num1" name="num1">0.0</label>
            <label>Ticket listo</label>
            </div>
            <div class="form-group">
            <label for="num2" id="num2" name="num2">0.0</label>
            <label>Ticket en proceso</label>
          </div>
        </div>
      </div>
          <div class="panel">
            <div class="form-group2">
              <button (click)="navigateToManageTicketsClient()" class="custom-button">
                <span>
                  <img src="assets/images/img-menu-admin/gestion.png" alt="img-src">
                  gestiona tus tickets
                </span>
              </button>
            </div>
          <!-- <div class="form-group2">
          <button class="custom-button">
            <span>
              <img src="assets/images/img-menu-admin/crear-ticket.png" alt="img-src">
              Crear tickets
            </span>
          </button>
        </div>  -->
      </div>
  </div>
</body>
</html>
