<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu cliente</title>
  <link rel="stylesheet" href="menu-client.component.css">
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
    <img src="assets/images/img-menu-admin/LOGO-SOLITEK-2-PNG.png" width="130" height="50"alt="img-src">
  </div>
  <div class="perfil">
    <label for="nombre" id="nombre" name="nombre">LINA ACOSTA</label>
    <label for="perfil"><img src="assets/images/img-menu-admin/u-perfil.png" width="35" height="35"alt="img-src"></label>
  </div>
    </header>
      <div class="contenedor-resumen">
        <h3>Tu resumen de actividad</h3>
        <div class="formulario">
            <h3>Historial de tickets</h3>
            <div class="form-group">
            <label for="num1" id="num1" name="num1">0.0</label>
            <label>Ticket listo</label>
            </div>
            <div class="form-group">
            <label for="num2" id="num2" name="num2">0.0</label>
            <label>Ticket en proceso</label>
          </div>
        </div>
      </div>
          <div class="panel">
              <button class="custom-button">
                <span>
                  <img src="assets/images/img-menu-admin/gestion.png" alt="img-src">
                  gestiona tus tickets
                </span>
              </button>
        </div>
  </div>
        </body>
        </html>