@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    position: relative;
    flex-direction: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: #050D21;
    align-items: center;
    padding: 1%;
    color: white;
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    position: relative; /* Añadido para posicionar el menú */
}

.header-right span {
    margin-right: 20px;
}

.user-icon {
    width: 40px;
    height: 24px;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 50px; /* Ajustar según sea necesario */
    right: 0;
    background-color: #e3f2fd;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    margin-top: 10px; /* Ajusta la distancia desde el botón */
    color: black;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

#nombre {
    width: 150px;
    margin-right: 2%;
    font-size: 16px; /* Cambia el tamaño de la fuente */
    color: #FFFFFF; /* Cambia el color del texto */
}

.contenedor-resumen {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    float: left;
    height: 650px;
    width: 600px;
    margin: 4%;
    border-radius: 8px; /* Redondeamos los bordes */
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5); /* Aplicamos un efecto de sombra difuminada */
}

.panel {
    display: flex;
    align-items: flex-end;
    position: relative;
    flex-direction: column;
    float: right;
    height: 650px;
    width: 600px;
    margin: 4%;
}

.contenedor-resumen h3:nth-child(1) {
    margin-top: 5%;
    color: #000000;
    margin-bottom: 5%;
}

.formulario {
    width: 80%;
    height: auto;
    background-color: #E9F1FF;
    margin-bottom: 5%;
}

/* Estilos para el segundo h3 */
.formulario h3:nth-child(1) {
    margin-top: 5%; /* Ajusta el margen superior */
    margin-bottom: 10%; /* Ajusta el margen inferior */
    margin-left: 5%;
    color: #00E8FF;
}

.form-group {
    display: flex;
    flex-direction: row; /* Coloca los elementos en una fila */
    justify-content: flex-start; /* Distribuye el espacio entre los elementos */
    align-items: baseline;
    width: 100%;
    padding: 10px; /* Espacio alrededor del contenedor */
    margin-left: 5%;
    margin-bottom: 3%;
}

.form-group label {
    margin-right: 10px; /* Espacio entre cada label */
}

#num1, #num2, #num3, #num4 {
    font-size: 200%; /* Cambia el tamaño de la fuente a 20px */
}

#num1 {
    color: #00E8FF;
}

#num2 {
    color: #DD57D3;
}

#num3 {
    color: #FF6935;
}

.cliente {
    background-color: #E9F1FF;
    width: 80%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column; /* Coloca los elementos en una fila */
    margin-top: 10%;
    margin-bottom: 5%;
}

#num4 {
    color: #00EEC4;
    margin-left: -3%;
    margin-right: 10px;
}

#clientes_c2 {
    margin-left: 30%;
}

.cliente h3:nth-child(1) {
    margin-top: 0%;
    margin-bottom: -1%;
    margin-left: 5%;
    color: #00E8FF;
}

.form-group1 {
    display: flex;
    flex-direction: row; /* Coloca los elementos en una fila */
    justify-content: flex-start; /* Distribuye el espacio entre los elementos */
    align-items: baseline;
    width: 100%;
    margin-left: 5%;
}

.custom-button {
    background: linear-gradient(to right, #FFFFFF, #D1E4FF);
    color: #0B365C;
    width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8); /* Efecto de sombra similar al contenedor */
    align-items: flex-end;
}

.custom-button:hover {
    background: linear-gradient(to right, #D1E4FF, #FFFFFF); /* Cambio de gradiente al pasar el cursor */
}

.custom-button img {
    margin-right: 2%; /* Espacio entre la imagen y el texto */
}

.form-group2 {
    margin-bottom: 12%; /* Espacio entre los grupos de botones */
}
