<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de equipo</title>
  <link rel="stylesheet" href="menu-admin.component.css">
</head>
<body>
  <header>
    <button class="logo-button">
        <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
    </button>
    <div class="header-right">
        <span>ALEX FRANCO</span>
        <div class="menu-container">
          <button class="logo-button" (click)="toggleMenu()">
              <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
          </button>
          <div class="dropdown-menu" *ngIf="menuVisible">
              <ul>
                  <li (click)="navigateTo('/user-edit')">Perfil</li>
                  <li (click)="logout()">Cerrar Sesión</li>
              </ul>
          </div>
        </div>
    </div>
  </header>
  <div class="container">
      <div class="contenedor-resumen">
        <h3>Tu resumen de actividad</h3>
        <div class="formulario">
        <h3>Historias de tickets</h3>
        <div class="form-group">
        <label for="num1" id="num1" name="num1">0.0</label>
        <label>Creadas hoy</label>
        </div>
        <div class="form-group">
        <label for="num2" id="num2" name="num2">0.0</label>
        <label>Creadas esta semana</label>
      </div>
      <div class="form-group">
        <label for="num3" id="num3" name="num3">0.0</label>
        <label>Creadas este mes</label>
      </div>
    </div>
      <div class="cliente">
        <h3>Clientes creados</h3>
        <div class="form-group1">
        <label for="num4" id="num4" name="num4">0.0</label>
        <label for="clientes_c" id="clientes_c" name="clientes_c">Clientes totales</label>
        <label for="clientes_c2"  id="clientes_c2" name="clientes_c2"><img src="assets/images/img-menu-admin/perfil.png" width="60" height="80" alt="imag-src"></label>
      </div>
    </div>
    </div>
      <div class="panel">
        <div class="form-group2">
          <button (click)="navigateToManageTickets()" class="custom-button">
            <span>
              <img src="assets/images/img-menu-admin/gestion.png" alt="img-src">
              gestiona tus tickets
            </span>
          </button>
      </div>
      <div class="form-group2">
        <button (click)="navigateToEditUsers()" class="custom-button">
          <span>
            <img src="assets/images/img-menu-admin/editar-u.png" alt="img-src">
            Gestionar usuarios
          </span>
        </button>
      </div>
      <div class="form-group2">
        <button (click)="navigateToManageComputers()" class="custom-button">
          <span>
            <img src="assets/images/img-menu-admin/Pendiente.png" width="80" height="80" alt="img-src">
            Gestionar Equipos
          </span>
        </button>
      </div>
      <div class="form-group2">
        <button (click)="navigateToCreateUser()" class="custom-button">
          <span>
            <img src="assets/images/img-menu-admin/crear-u.png" width ="img-src">
            Crear usuario
          </span>
        </button>
      </div>
      <div class="form-group2">
        <button (click)="navigateToRegisterComuter()" class="custom-button">
          <span>
            <img src="assets/images/img-menu-admin/escritorio 1.png" alt="img-src">
            Crear Equipo
          </span>
        </button>
      </div>
      <div class="form-group2">
        <button (click)="navigateToCreateTickets()" class="custom-button">
          <span>
            <img src="assets/images/img-menu-admin/crear-ticket.png" alt="img-src">
            Crear tickets
          </span>
        </button>
      </div>
      </div>
      </div>
</body>
</html>
