<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de equipo</title>
  <link rel="stylesheet" href="menu-admin.component.css">
</head>
<body>
    <header>
    <img src="assets/images/img-menu-admin/LOGO-SOLITEK-2-PNG.png" width="130" height="50"alt="img-src">
    <img src="assets/images/img-menu-admin/u-perfil.png" width="303" height="110"alt="img-src">
    </header>
    <div class="contenedor">
      <div class="contenedor-resumen">
        <h2>Tu resumen de actividad</h2>
        <h2>Historias de tickets</h2>
        <p>Creadas hoy</p>
        <p>Creadas esta semana</p>
        <p>Creadas este mes</p>
      </div>
      <div class="clientes">
        <h3>Clientes creados</h3>
        <p>clientes creados</p>
        <img src="assets/images/img-menu-admin/perfil.png" alt="imag-src">
      </div>
      <div class="panel">
        <img src="assets/images/img-menu-admin/gestion.png" alt="img-src">
        <h3>Gestiona tus tickets</h3>
        <img src="assets/images/img-menu-admin/editar-u.png" alt="img-src">
        <h3>Editar usuario</h3>
        <img src="assets/images/img-menu-admin/crear-u.png" alt="img-src">
        <h3>Crear usuario</h3>
        <img src="assets/images/img-menu-admin/crear-ticket.png" alt="img-src">
        <h3>Crear ticket</h3>
      </div>
    </div>
</body>
</html>