body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050D21;
    color: white;
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header-right span {
    margin-right: 20px;
}

.user-icon {
    width: 40px;
    height: 24px;
}

.title-section {
    background: linear-gradient(45deg, #60B0FE, #9DCAFF);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section h1 {
    margin: 0;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #e3f2fd;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    margin-top: 10px;
    color: black;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

#nombre {
    width: 150px;
    margin-right: 2%;
    font-size: 16px;
    color: #FFFFFF;
}

.menuback {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    background-color: #D1E4FF;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.whatsapp-button {
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    margin-right: 18px;
}

.whatsapp-button a {
    display: inline-flex;
    width: 300px;
    align-items: center;
    padding: 10px 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button a:hover {
    background-color: #1ebe57;
}

.icon-wpp {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-left: -9px;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    position: relative;
}

.table-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.fotos {
    display: flex;
    flex-direction: column;
    width: 48%;
    background-color: #ffffff;
    border-radius: 20px;
}

.comment-section {
    flex: 1;
}

.comment-section textarea {
    height: 488px;
    width: 530px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 1%;
}

.search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 3%;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 10px;
    width: 100%;
}

.search-input {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 90%;
    background: transparent;
    box-shadow: none;
    margin-right: 10px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

.tickets-table-container {
    width: 100%;
    max-height: 420px;
    overflow-y: auto;
}

table.tickets-table {
    width: 100%;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
}

.advances-table-container {
    width: 100%;
    max-height: 420px;
    overflow-y: auto;
}

table.advances-table {
    width: 100%;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
}

table thead {
    background-color: #9DCAFF;
    color: white;
    border-radius: 10px 10px 0 0;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

table td, table th {
    padding: 10px;
    text-align: left;
    word-break: break-all;
    white-space: normal;
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.1);
}

.select-btn {
    background-color: #86F3FF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.small-column {
    width: 80px;
    white-space: nowrap;
    overflow: hidden;
}

table th.small-column,
table td.small-column {
    width: 80px;
}

.tickets-table-container {
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
    max-height: 420px; /* Ajustar la altura máxima según sea necesario */
    overflow-y: auto; /* Permitir el desplazamiento vertical */
}

.advances-table-container {
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
    max-height: 420px; /* Ajustar la altura máxima según sea necesario */
    overflow-y: auto; /* Permitir el desplazamiento vertical */
}

.tickets-table-container::-webkit-scrollbar,
.advances-table-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.tickets-table-container::-webkit-scrollbar-track,
.advances-table-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.tickets-table-container::-webkit-scrollbar-thumb,
.advances-table-container::-webkit-scrollbar-thumb {
    background-color: #9DCAFF;
    border-radius: 10px;
}

.tickets-table-container::-webkit-scrollbar-thumb:hover,
.advances-table-container::-webkit-scrollbar-thumb:hover {
    background-color: #60B0FE;
}

.advances-table img {
    max-width: 100%;
    max-height: 200px; /* Ajustar según el tamaño deseado */
    object-fit: contain;
}
