<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solitek</title>
    <link rel="stylesheet" href="manage-tickets-cl.component.css">
</head>
<body>
    <header>
        <button class="logo-button">
            <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
        </button>
        <div class="header-right">
            <span>ALEX FRANCO</span>
            <div class="menu-container">
              <button class="logo-button" (click)="toggleMenu()">
                  <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
              </button>
              <div class="dropdown-menu" *ngIf="menuVisible">
                  <ul>
                      <li (click)="navigateTo('/user-edit')">Perfil</li>
                      <li (click)="logout()">Cerrar Sesión</li>
                  </ul>
              </div>
            </div>
        </div>
      </header>
      <div class="title-section">
        <h1>Gestor de Clientes.</h1>
        <button (click)="navigateToMenu()" class="menuback">Menú</button>
    </div>
        <div class="whatsapp-button">
            <a href="https://wa.me/3165455210" target="_blank">
                <div class="icon-wpp">
                    <img src="assets/images/img-gestion-ticket/whatsapp.png" alt="WhatsApp">
                </div>
                Enviar mensaje al 3165455210
            </a>
        </div>
        <div class="contenedor">
            <div class="contenedor2">
        <div class="search-section">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar un Cliente...">
                <button class="search-button"><img src="assets/images/img-gestion-ticket/lupa 1.png" alt="Buscar"></button>
            </div>
        </div>
        <main>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Numero de orden</th>
                            <th class="small-column"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lina</td>
                            <td>Acosta</td>
                            <td>4023</td>
                            <td class="small-column"><button class="select-btn">Seleccionar</button></td>
                        </tr>
                    </tbody>
                </table>
        </main>
    </div>
        <div class="contenedor-panel">
            <div class="fotos"></div>
        </div>
    </div>
</body>
</html>
