<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solitek</title>
    <link rel="stylesheet" href="manage-tickets-te.component.css">
</head>
<body>
        <header>
            <button class="logo-button">
                <img src="assets/images/img-gestion-ticket/LOGO-SOLITEK-2-PNG.png" alt="Logo Solitek">
            </button>
            <div class="user-info">
                <span>LINA ACOSTA</span>
                <img src="assets/images/img-gestion-ticket/usuario.png" alt="User Icon" class="user-icon">
            </div>
        </header>
        <div class="title-section">
            <button (click)="navigateToMenu()" class="menuback">Menú</button>
        </div>
        <div class="contenedor">
            <div class="contenedor2">
        <div class="search-section">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar un Cliente...">
                <button class="search-button"><img src="assets/images/img-gestion-ticket/lupa 1.png" alt="Buscar"></button>
            </div>
        </div>
        <main>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre(s)</th>
                            <th>Apellido(s)</th>
                            <th>Numero de orden</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lina</td>
                            <td>Acosta</td>
                            <td>4023</td>
                            <td><button class="select-btn">Seleccionar</button></td>
                        </tr>
                    </tbody>
                </table>
        </main>
    </div>
        <div class="contenedor-panel">
            <div class="fotos">
                <button class="bt-foto">SUBIR FOTO</button>
            </div>
            <div class="details-section">
                <div class="comment-section">
                    <textarea placeholder="Escribe un comentario personalizado..."></textarea>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
