body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050D21;
    color: white;
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header-right span {
    margin-right: 20px;
}

.user-icon {
    width: 40px;
    height: 24px;
}

.title-section {
    background: linear-gradient(45deg, #60B0FE, #9DCAFF);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section h1 {
    margin: 0;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 50px; /* Ajustar según sea necesario */
    right: 0;
    background-color: #e3f2fd;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    margin-top: 10px; /* Ajusta la distancia desde el botón */
    color: black;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.title-section {
    background: linear-gradient(45deg, #60B0FE, #9DCAFF);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menuback {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    background-color: #D1E4FF;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.contenedor {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: auto;
    position: relative;
}

.contenedor2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fotos {
    display: flex;
    width: 100%;
    height: 510px;
    background-color: #ffffff; /* Eliminar fondo gris */
    margin-right: 1%;
    border-radius: 20px;
}

.bt-foto {
    background: linear-gradient(45deg, #00B2FF, #9DCAFF);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.details-section {
    display: flex;
    gap: 20px;
}

.comment-section {
    flex: 1;
}

.comment-section textarea {
    height: 615px;
    width: 530px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 1%;
}

.contenedor-panel {
    display: flex;
    height: 100px;
    width: auto;
    flex: 1; /* Para que ocupe el espacio restante */
    margin-left: 2px; /* Espacio entre la tabla y los elementos adicionales */
    margin-top: 60px;
}

.search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 3%;
    position: relative;
    margin-bottom: 20px;
    width: 700px;
}

.search-bar {
    display: flex;
    align-items: center;/* Distribuye los elementos a lo largo del contenedor */
    background: transparent;
    padding: 10px;
    width: 800px;
}

.search-input {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 620px;
    background: transparent;
    box-shadow: none;
    margin-right: 10px; /* Agregado para separar el input del botón */
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
}

table {
    padding: 20px;
    width: 100%; /* Ajustar el ancho de la tabla */
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    overflow: hidden;
    border-spacing: 0; /* Elimina el espacio entre celdas */
}

table thead {
    background-color: #9DCAFF;
    color: white;
    border-radius: 10px 10px 0 0; /* Redondea solo las esquinas superiores */
}

thead th:first-child {
    border-top-left-radius: 10px; /* Redondea solo la esquina superior izquierda */
}

thead th:last-child {
    border-top-right-radius: 10px; /* Redondea solo la esquina superior derecha */
}

table td {
    padding: 10px; /* Ajusta el padding para evitar que las celdas sean muy grandes */
    text-align: left;
}

table th {
    padding: 20px;
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.1);
}

.select-btn {
    background-color: #86F3FF;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.filters-and-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    justify-content: space-between; /* Espaciado entre filtros y botón */
}

.priority-filters {
    display: flex;
    gap: 10px;
    align-items: center;
}

.priority-filters span {
    margin-right: 10px;
    font-weight: bold;
}

.add-advance-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

/* Estilos para el modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Estilos para el contenido del modal */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 880px;
  max-width: 90%; /* Ancho máximo del contenido */
}

.close {
  cursor: pointer;
  font-size: 24px;
  color: #9DCAFF; /* Color de la X */
  margin-right: 10px; 
  margin-top: -10px; 
  float: right; 
}

/* Estilos para el título del modal */
.modal-title {
  margin-top: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: linear-gradient(to right, #00B2FF, #368DD9);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  position: relative; /* Para que la línea se posicione correctamente */
}

.modal-title::after {
  content: ""; /* Agrega un elemento pseudo después del texto */
  position: absolute; /* Posición absoluta relativa al elemento padre */
  bottom: -5px; /* Ajusta la posición de la línea */
  left: 10%; /* La línea comienza desde el borde izquierdo */
  width: 80%; /* Ancho completo del texto */
  height: 2px; /* Grosor de la línea */
  background: linear-gradient(to right, #00B2FF, #368DD9); /* Degradado lineal */
}

/* Estilos para el formulario dentro del modal */
.ticket-form {
  margin-top: 20px;
}

/* Estilos para las etiquetas y campos de entrada del formulario */
.form-group {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.form-group input,
.form-group select,
textarea {
  background-color: #F1F0F4;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: "Outfit", sans-serif; /* Asegura que se use la misma fuente */
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #000; /* Color del texto en el combobox */
  box-sizing: border-box;
  width: 100%; /* Asegura que los campos ocupen el 100% del contenedor */
}

textarea {
  height: 150px; /* Altura específica para el textarea */
}

.char-counter {
  text-align: right;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #555;
}

.submit-button {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  background-color: #D1E4FF;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
  margin-top: 20px;
  display: block; /* Convertir el botón en un bloque para centrarlo */
  margin: 0 auto; /* Centrar horizontalmente */
}

.submit-button:hover {
  background-color: #45a049;
}

/* Estilos para las filas del formulario */
.form-row {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: red; /* Estilo para el mensaje de error */
  text-align: center;
  margin-top: 10px;
}

/* Ajusta el ancho de las entradas de formulario para dispositivos pequeños */
@media screen and (max-width: 600px) {
  .form-group {
    width: 100%;
    margin-right: 0;
  }
  .form-row {
    flex-direction: column;
    align-items: center;
  }
}
    
