<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Equipos</title>
    <link rel="stylesheet" href="manage-computers.component.css">
</head>
<body>
    <header>
        <button class="logo-button">
            <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
        </button>
        <div class="header-right">
            <span>ALEX FRANCO</span>
            <button class="logo-button">
                <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
            </button>
        </div>
    </header>
    <div class="title-section">
        <h1>Gestor de Equipos</h1>
        <button (click)="navigateToMenu()" class="menuback">Menú</button>
    </div>
    <div class="search-section">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar un Equipo..." [(ngModel)]="searchText" (keyup.enter)="searchEquipos()">
            <button class="search-button" (click)="searchEquipos()"><img src="assets/images/lupa 1.png" alt="Buscar"></button>
            <div class="add-button-group">
                <button class="add-icon-button" (click)="navigateToRegister()"><img src="assets/images/mas 1.png" alt="Agregar"></button>
                <button class="add-text-button" (click)="navigateToRegister()">Agregar un nuevo equipo</button>
            </div>
        </div>
    </div>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>Especificaciones</th>
                    <th>Estado del equipo</th>
                    <th>Servicio</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let equipo of filteredEquipos">
                    <td>{{ equipo.id_equipo }}</td>
                    <td>{{ equipo.especificaciones }}</td>
                    <td>{{ equipo.estado_equipo }}</td>
                    <td>{{ equipo.servicio }}</td>
                    <td>{{ equipo.observaciones }}</td>
                    <td>
                        <button class="edit-button" (click)="editEquipo(equipo)">Editar</button>
                        <button class="delete-button" (click)="deleteEquipo(equipo.id_equipo!)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
    <app-edit-equipo *ngIf="showEditModal" [equipo]="selectedEquipo" (formClose)="closeEditModal()"></app-edit-equipo>
</body>
</html>
