body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050D21;
    color: white;
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header-right span {
    margin-right: 20px;
}

.user-icon {
    width: 40px;
    height: 24px;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #e3f2fd;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    margin-top: 10px;
    color: black;
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

#nombre {
    width: 150px;
    margin-right: 2%;
    font-size: 16px;
    color: #FFFFFF;
}

.title-section {
    background: linear-gradient(45deg, #60B0FE, #9DCAFF);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section h1 {
    margin: 0;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menuback {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    background-color: #D1E4FF;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
    position: relative;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px;
    width: 100%;
    max-width: 800px;
}

.search-input {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 550px;
    background: transparent;
    box-shadow: none;
    margin-right: 10px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.add-button-group {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 100%;
}

.add-icon-button, .add-text-button {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    white-space: nowrap;
    margin-right: -10px;
    display: flex;
    align-items: center;
}

.add-icon-button img, .search-button img {
    height: 20px;
    width: 20px;
}

.add-icon-button {
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.add-text-button {
    margin-left: 10px;
    border-radius: 0px 50px 50px 0px;
    height: 40px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    max-height: 420px;
    overflow-y: auto;
    overflow-x: auto;
}

table {
    padding: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    overflow: hidden;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
}

table thead {
    background-color: #9DCAFF;
    color: white;
    border-radius: 10px 10px 0 0;
    width: 100%;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

table th, table td {
    padding: 30px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table td {
    white-space: normal; /* Permitir que el texto se ajuste a varias líneas */
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.1);
}

.edit-button, .delete-button {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #D1E4FF;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 10px;
    white-space: nowrap; /* Evitar que el texto se ajuste en varias líneas */
}

.edit-button {
    margin-right: 5px;
}

/* Personalización del scrollbar */
.table-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.table-container::-webkit-scrollbar-track {
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #9DCAFF;
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #60B0FE;
}

@media (max-width: 768px) {
    .search-input {
        width: 50%;
    }

    .add-button-group {
        width: 60%;
    }

    table {
        width: 100%;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
    }

    table td {
        display: block;
        text-align: right;
    }

    table th, table td {
        padding: 15px;
        font-size: 14px;
    }

    table td[data-label]::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .table-container {
        overflow-x: auto;
        max-width: 100%;
    }

    .edit-button, .delete-button {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .search-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px;
        margin-top: 10%;
        position: relative;
        margin-bottom: 20px;
    }

    .search-input {
        width: 70%;
    }

    .add-button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10px;
        width: 100%;
    }

    .add-icon-button {
        display: flex;
    }

    .add-text-button {
        display: none;
    }
}
