@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
  color: #121A2F;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.container {
  background-image: url('/assets/images/26800 1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
}

.login-section,
.register-section {
  padding: 20px;
  text-align: center;
}

.login-section {
  background: linear-gradient(45deg, #010304, #121A2F);
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.register-section {
  background-color: white;
  width: 400px;
  height: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-button,
.register-button {
  background: linear-gradient(to right, #FFFFFF, #D1E4FF);
  color: #0B365C;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
}

.login-button:hover,
.register-button:hover {
  background: linear-gradient(to right, #D1E4FF, #FFFFFF);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
  margin-top: 2%;
}

.form-group label {
  margin-right: 10px;
  width: 40px;
  display: inline-block;
}

.form-group input,
.form-group select {
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  background-color: transparent;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  padding: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.global-error {
  color: red;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}
