<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
  <link rel="stylesheet" href="register-user.component.css">
</head>
<body>

  <div class="container">
    <div class="login-section">
      <img src="assets/images/LOGO-SOLITEK-2-PNG.png" width="303" height="110">
      <p>¿Ya tienes cuenta?</p>
      <button type="button" class="login-button" (click)="navigateToLogin()">Iniciar Sesión</button>
    </div>
    <div class="register-section">
      <form>
        <h2>CREAR CUENTA</h2>
        <div class="form-group">
          <label for="nombre"><img src="assets/images/usuario 1.png" alt="Ícono Usuario"></label>
          <input type="text" id="nombre" name="nombre" placeholder="Usuario" required>
        </div>
        <div class="form-group">
          <label for="correo"><img src="assets/images/buzon 1.png" alt="Ícono Buzón"></label>
          <input type="email" id="correo" name="correo" placeholder="Correo Electrónico" required>
        </div>
        <div class="form-group">
          <label for="contrasena"><img src="assets/images/cerrar-con-llave 1.png" alt="Ícono Cerrar con Llave"></label>
          <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <div class="form-group">
          <label for="confirmar-contrasena"></label>
          <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" placeholder="Confirmar Contraseña" required class="confirmar-contrasena">
        </div>
        <div class="form-group">
          <label for="telefono"><img src="assets/images/telefono 1.png" alt="Ícono Teléfono"></label>
          <input type="tel" id="telefono" name="telefono" placeholder="Teléfono">
        </div>
        <button type="submit" (click)="navigateToRegisterComputer()" class="register-button">Siguiente</button>
      </form>
    </div>
  </div>

</body>
</html>