<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edición de Usuario</title>
  <link rel="stylesheet" href="user-edit.component.css">
</head>
<body>
  <header>
    <button (click)="goToMainMenu()" class="logo-button">
        <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
    </button>
    <div class="header-right">
        <span>{{ user?.nombre }}</span>
        <button class="logo-button" (click)="toggleMenu()">
            <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
        </button>
        <div class="dropdown-menu" *ngIf="menuVisible">
          <ul>
              <li (click)="navigateTo('/user-edit')">Perfil</li>
              <li (click)="logout()">Cerrar Sesión</li>
          </ul>
        </div>
    </div>
  </header>

  <div class="container">
      <div class="sidebar">
        <img src="assets/images/perfil (1) 1.png" alt="Profile Picture" class="profile-picture">
        <h2>{{ user?.nombre }}</h2>
        <p>{{ user?.usuario_id }}</p>
        <div class="separator"></div>
        <a href="#" class="logout" (click)="logout()">
          <img src="assets/images/cerrar-sesion 1.png" class="close-sesion" alt="Cerrar Sesión Icon">
          Cerrar Sesión
        </a>
      </div>
      <div class="main">
        <h2>Mi Cuenta.</h2>
        <div class="form-group">
          <label>Nombre de usuario:</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="userForm.nombre" [disabled]="!editing.nombre">
            <button (click)="toggleEdit('nombre')">{{ editing.nombre ? 'Guardar' : 'Editar' }}</button>
          </div>
        </div>
        <div class="form-group">
          <label>Correo Electronico:</label>
          <div class="input-group">
            <input type="email" [(ngModel)]="userForm.correo_electronico" [disabled]="!editing.correo_electronico">
            <button (click)="toggleEdit('correo_electronico')">{{ editing.correo_electronico ? 'Guardar' : 'Editar' }}</button>
          </div>
        </div>
        <div class="form-group">
          <label>Teléfono:</label>
          <div class="input-group">
            <input type="text" [(ngModel)]="userForm.telefono" [disabled]="!editing.telefono">
            <button (click)="toggleEdit('telefono')">{{ editing.telefono ? 'Guardar' : 'Editar' }}</button>
          </div>
        </div>
        <div class="form-group">
          <label>Contraseña:</label>
          <div class="password-change">
            <button class="password">Cambiar Contraseña</button>
            <button class="save-btn" (click)="goToMainMenu()">Ir al Menú Principal</button>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
