<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de equipo</title>
  <link rel="stylesheet" href="register-computer.component.css">
</head>
<body>
<div class="contenedor">
  <div class="fondo_tuerca">
    <h3>REGISTRAR EQUIPO</h3>
      <div class="imagen-fija">
          <img src="assets/images/img-register-computer/TUERCA.png" alt="img src" class="tuerca-img">
      </div>
<form>
    <div class="contenedor3">
      <div class="form-group">
        <label for="fecha"><img src="assets/images/img-register-computer/fecha.png"  alt="Fecha"></label>
        <input type="date" id="fecha" name="fecha" placeholder="Fecha de ingreso">
      </div>
      <div class="form-group">
        <label for="especificaciones"><img src="assets/images/img-register-computer/especificaciones.png" alt="Especificaciones"></label>
        <input type="text" id="especificaciones" name="especificaciones" placeholder="Especificaciones">
      </div>
      <div class="form-group">
        <label for="estado"><img src="assets/images/img-register-computer/estado.png" alt="Estado"></label>
        <select id="estado" name="estado">
          <option value="nuevo">Nuevo</option>
          <option value="usado">Usado</option>
          <option value="reparado">Reparado</option>
        </select>
      </div>
      <div class="form-group">
        <label for="servicio"><img src="assets/images/img-register-computer/servicio.png" alt="Servicio"></label>
        <select id="servicio" name="servicio">
          <option value="mantenimiento">Mantenimiento</option>
          <option value="reparacion">Reparación</option>
          <option value="actualizacion">Actualización</option>
        </select>
      </div>
      <div class="form-group">
        <label for="observaciones"><img src="assets/images/img-register-computer/observaciones.png" alt="Observaciones"></label>
        <input type="text" id="observaciones" name="observaciones" placeholder="Observaciones">
      </div>
    </div>
</form>
<button class="bt-register">Registrar</button>
</div>
</div>
</body>
</html>
