<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de equipo</title>
  <link rel="stylesheet" href="register-computer.component.css">
</head>
<body>
<div class="contenedor">
  <div class="fondo_tuerca">
    <h3>REGISTRAR EQUIPO</h3>
    <img src="assets/images/img-register-computer/TUERCA.png" alt="img src" class="tuerca-img">
<div class="foto">
    <img src="assets/images/img-register-computer/persona 1.png" width="150" height="150" alt="img src">
    <button type="button" class="bt-foto">SUBIR FOTO</button>
</div>
<form>
    <div class="contenedor3">
      <div class="form-group">
  <label for="nombre"><img src="assets/images/img-register-computer/placa.png" alt="img src"></label>
  <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" required>
</div>
<div class="form-group">
  <label for="fecha"><img src="assets/images/img-register-computer/fecha.png" alt="img src"></label>
  <input type="text" id="fecha" name="fecha" placeholder="Fecha de ingreso">
</div>
<div class="form-group">
  <label for="orden"><img src="assets/images/img-register-computer/identificacion 1.png" alt="img src"></label>
  <input type="text" id="orden" name="orden" placeholder="Numero de orden">
</div>
<div class="form-group">
  <label for="telefono"><img src="assets/images/img-register-computer/telefono 2.png" alt="img src"></label>
  <input type="text" name="telefono" id="telefono" placeholder="telefono">
  </div>
</div>
<div class="contenedor4">
    <div class="form-group">
      <label for="nombre_equipo"><img src="assets/images/img-register-computer/pcnombre_equipo 1.png" alt="img src"></label>
      <input type="text" id="nombre_equipo" name="nombre_equipo" placeholder="Nombre del equipo">
    </div>
    <div class="form-group">
    <label for="serial"><img src="assets/images/img-register-computer/serial.png" alt="img src"></label>
    <input type="text" id="serial" name="serial" placeholder="S/N">
    <label for="model"><img src="assets/images/img-register-computer/model.png" alt="img src"></label>
    <input type="text" id="model" name="model" placeholder="Model">
    <label for="especificaciones"><img src="assets/images/img-register-computer/especificaciones.png" alt="img src"></label>
    <input type="text" id="especificaciones" name="especificaciones" placeholder="Especificaciones">
  </div>
</div>
  <div class="contenedor5">
  <div class="form-group">
    <label for="estado"><img src="assets/images/img-register-computer/estado.png" alt="img src"></label>
    <input type="text" id="estado" name="estado" placeholder="Estado">
    <label for="observaciones"><img src="assets/images/img-register-computer/observaciones.png" alt=""></label>
    <input type="text" id="observaciones" name="observaciones" placeholder="Observaciones">
  </div>
  <div class="form-group">
    <label for="servicio"><img src="assets/images/img-register-computer/servicio.png" alt="img src"></label>
    <input type="text" id="servicio" name="servicio" placeholder="Servicio">
  </div>
  </div>
  </form>
  <button type="button" class="bt-register">REGISTRAR</button>
</div>
</div>
</body>
</html> 