<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de equipo</title>
  <link rel="stylesheet" href="register-computer.component.css">
</head>
<body>
<div class="contenedor">
  <div class="fondo_tuerca">
    <h3>REGISTRAR EQUIPO</h3>
      <div class="imagen-fija">
          <img src="assets/images/img-register-computer/TUERCA.png" alt="img src" class="tuerca-img">
      </div>
<form>
    <div class="contenedor3">
      <div class="form-group">
        <label for="fecha"><img src="assets/images/img-register-computer/fecha.png"  alt="img src"></label>
        <input type="text" id="fecha" name="fecha" placeholder="Fecha de ingreso">
      </div>
      <div class="form-group">
        <label for="especificaciones"><img src="assets/images/img-register-computer/especificaciones.png" alt="img src"></label>
        <input type="text" id="especificaciones" name="especificaciones" placeholder="Especificaciones">
      </div>
      <div class="form-group">
        <label for="estado"><img src="assets/images/img-register-computer/estado.png" alt="img src"></label>
        <input type="text" id="estado" name="estado" placeholder="Estado del equipo">
      </div>
      <div class="form-group">
        <label for="servicio"><img src="assets/images/img-register-computer/servicio.png" alt="img src"></label>
        <input type="text" id="servicio" name="servicio" placeholder="Servicio">
      </div>
      <div class="form-group">
        <label for="observaciones"><img src="assets/images/img-register-computer/observaciones.png" alt="img src"></label>
        <input type="text" id="observaciones" name="observaciones" placeholder="Observaciones">
      </div>
</div>
</form>
<button class="bt-register">Registrar</button>
</div>
</div>
</body>
</html> 