@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #050D21;
    color: white;
}

.logo-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logo-button img {
    height: 40px;
}

.header-right {
    display: flex;
    align-items: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.header-right span {
    margin-right: 20px;
}

.user-icon {
    width: 40x;
    height: 24px;
}

.title-section {
    background: linear-gradient(45deg, #60B0FE, #9DCAFF);
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section h1 {
    margin: 0;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.menuback{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    background-color: #D1E4FF;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

.search-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-top: 10%;
    position: relative;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor */
    background: transparent;
    padding: 10px;
    width: 800%;
    max-width: 100%;
}

.search-input {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    border: none;
    border-radius: 50px;
    outline: none;
    width: 550px;
    background: transparent;
    box-shadow: none;
    margin-right: 10px; /* Agregado para separar el input del botón */
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.add-button-group {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 90%; 
}

.add-icon-button, .add-text-button {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    white-space: nowrap;
    margin-right: -10px;
    display: flex;
    align-items: center;
}

.add-icon-button img, .search-button img {
    height: 20px;
    width: 20px;
}
.add-icon-button{
    border-radius: 50px 0px 0px 50px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}
.add-text-button {
    margin-left: 10px;
    border-radius: 0px 50px 50px 0px;
    height: 40px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.1);
}

table {
    padding: 20px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    overflow: hidden;
    border-spacing: 0; /* Elimina el espacio entre celdas */
    
}

table thead {
    background-color: #9DCAFF;
    color: white;
    border-radius: 10px 10px 0 0; /* Redondea solo las esquinas superiores */
}

thead th:first-child {
    border-top-left-radius: 10px; /* Redondea solo la esquina superior izquierda */
}

thead th:last-child {
    border-top-right-radius: 10px; /* Redondea solo la esquina superior derecha */
}

table th, table td {
    padding: 30px;
    text-align: left;
}

table tbody tr:nth-child(even) {
    background-color: rgba(0, 123, 255, 0.1);
}

.edit-button, .finish-button {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    background-color: #D1E4FF;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    margin-bottom: 10px;
}


.edit-button {
    margin-right: 5px;
}
