<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Usuarios</title>
    <link rel="stylesheet" href="manage-users.component.css">
</head>
<body>
    <header>
        <button class="logo-button">
            <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
        </button>
        <div class="header-right">
            <span>ALEX FRANCO</span>
            <button class="logo-button" (click)="toggleMenu()">
                <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
            </button>
            <div class="dropdown-menu" *ngIf="menuVisible">
                <ul>
                    <li (click)="navigateTo('/user-edit')">Perfil</li>
                    <li (click)="logout()">Cerrar Sesión</li>
                </ul>
            </div>
        </div>
    </header>
    <div class="title-section">
        <h1>Gestor de Usuarios</h1>
        <button (click)="navigateToMenu()" class="menuback">Menú</button>
    </div>
    <div class="search-section">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar un Usuario..." [(ngModel)]="searchText" (keyup.enter)="searchUsers()">
            <button class="search-button" (click)="searchUsers()"><img src="assets/images/lupa 1.png" alt="Buscar"></button>
            <div class="add-button-group">
                <button class="add-icon-button" (click)="navigateToRegister()"><img src="assets/images/mas 1.png" alt="Agregar"></button>
                <button class="add-text-button" (click)="navigateToRegister()">Agregar un nuevo usuario</button>
            </div>
        </div>
        <div class="filter-section">
            <label><input type="checkbox" [(ngModel)]="filterRoles.admin" (change)="filterUsers()"> Administrador</label>
            <label><input type="checkbox" [(ngModel)]="filterRoles.tech" (change)="filterUsers()"> Técnico</label>
            <label><input type="checkbox" [(ngModel)]="filterRoles.user" (change)="filterUsers()"> Usuario</label>
        </div>
    </div>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>N° de Documento</th>
                    <th>Correo Electrónico</th>
                    <th>Teléfono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of filteredUsers">
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.usuario_id }}</td>
                    <td>{{ user.correo_electronico }}</td>
                    <td>{{ user.telefono }}</td>
                    <td>
                        <button class="edit-button" (click)="editUser(user)">Editar</button>
                        <button class="delete-button" (click)="deleteUser(user.usuario_id!)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
