<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Tickets</title>
    <link rel="stylesheet" href="tickets-history.component.css">
</head>
<body>
    <header>
        <button class="logo-button">
            <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
        </button>
        <div class="header-right">
            <span>ALEX FRANCO</span>
            <button class="logo-button">
                <img src="assets/images/usuario-de-perfil 1.png"alt="User Icon" class="user-icon">
            </button>
        </div>
    </header>
    <div class="title-section">
        <button (click)="navigateToMenu()" class="menuback">Menú</button>
    </div>
    <div class="search-section">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar un Ticket...">
            <button class="search-button"><img src="assets/images/lupa 1.png" alt="Buscar"></button>
        </div>
    </div>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre(s)</th>
                    <th>Apellido(s)</th>
                    <th>Numero orden</th>
                    <th>Telefono</th>
                    <th>N° de Documento</th>
                    <th>Fecha de Ingreso</th>
                    <th>Estado</th>
                    <th>Servicio</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Andres Julian</td>
                    <td>Gonzalez Barrera</td>
                    <td>161</td>
                    <td>3008234881</td>
                    <td>1007461203</td>
                    <td>28/02/2023</td>
                    <td>Activo</td>
                    <td>Mantenimiento</td>
                    <td>
                        <button class="pdf-button"><img src="assets/images/pdf 2.png"></button>
                    </td>
                </tr>
                <tr>
                    <td>Natalia Andrea</td>
                    <td>Giraldo Erazo</td>
                    <td>163</td>
                    <td>3008234881</td>
                    <td>1007461203</td>
                    <td>18/02/2023</td>
                    <td>Activo</td>
                    <td>Formateo</td>
                    <td>
                        <button class="pdf-button"><img src="assets/images/pdf 2.png"></button>
                    </td>
                </tr>
                <tr>
                    <td>Mauricio</td>
                    <td>Rodriguez Ramirez</td>
                    <td>167</td>
                    <td>3182331150</td>
                    <td>1006891302</td>
                    <td>28/05/2023</td>
                    <td>Cerrado</td>
                    <td>Diagnostico</td>
                    <td>
                        <button class="pdf-button"><img src="assets/images/pdf 2.png"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
   
    