<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Tickets</title>
    <link rel="stylesheet" href="tickets-history.component.css">
</head>
<body>
    <header>
        <button class="logo-button">
            <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
        </button>
        <div class="header-right">
            <span>{{ userName }}</span>
            <button class="logo-button">
                <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
            </button>
        </div>
    </header>
    <div class="title-section">
        <h1>Historial de Tickets</h1>
        <button (click)="navigateToMenu()" class="menuback">Menú</button>
    </div>
    <div class="search-section">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar por Número de Orden..." [(ngModel)]="searchText" (keyup.enter)="searchTickets()">
            <button class="search-button" (click)="searchTickets()"><img src="assets/images/lupa 1.png" alt="Buscar"></button>
        </div>
    </div>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Nombre Completo (Usuario)</th>
                    <th>Nombre Completo (Técnico)</th>
                    <th>Número Orden</th>
                    <th>Teléfono</th>
                    <th>Fecha de Ingreso</th>
                    <th>Estado</th>
                    <th>Servicio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticket of filteredTickets">
                    <td>{{ ticket.cliente.nombre }}</td>
                    <td>{{ ticket.tecnico.nombre }}</td>
                    <td>{{ ticket.ticket_id }}</td>
                    <td>{{ ticket.cliente.telefono }}</td>
                    <td>{{ ticket.fecha_ingreso | date }}</td>
                    <td>{{ ticket.estado }}</td>
                    <td>{{ ticket.tipo_servicio }}</td>
                    <td>
                        <button class="pdf-button" (click)="exportPDF(ticket)"><img src="assets/images/pdf 2.png"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
