<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Tickets</title>
    <link rel="stylesheet" href="tickets-history.component.css">
</head>
<body>
    <header>
        <button class="logo-button" (click)="navigateToMenu()">
            <img src="assets/images/LOGO-SOLITEK-2-PNG 6.png" alt="Logo Solitek">
        </button>
        <div class="header-right">
            <span>{{ userName }}</span>
            <div class="menu-container">
                <button class="logo-button" (click)="toggleMenu()">
                    <img src="assets/images/usuario-de-perfil 1.png" alt="User Icon" class="user-icon">
                </button>
                <div class="dropdown-menu" *ngIf="menuVisible">
                    <ul>
                        <li (click)="navigateToUserProfile()">Perfil</li>
                        <li (click)="logout()">Cerrar Sesión</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="title-section">
        <h1>Historial de Tickets</h1>
        <button (click)="navigateToMenu()" class="menuback">Menú</button>
    </div>
    <div class="search-section">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Buscar por Número de Orden..." [(ngModel)]="searchText" (keyup.enter)="searchTickets()">
            <button class="search-button" (click)="searchTickets()"><img src="assets/images/lupa 1.png" alt="Buscar"></button>
        </div>
    </div>
    <main>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Nombre Completo (Usuario)</th>
                        <th>Nombre Completo (Técnico)</th>
                        <th>Número Orden</th>
                        <th>Teléfono</th>
                        <th>Fecha de Ingreso</th>
                        <th>Estado</th>
                        <th>Servicio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of filteredTickets">
                        <td data-label="Nombre">{{ ticket.cliente.nombre }}</td>
                        <td data-label="tecnico asignado">{{ ticket.tecnico.nombre }}</td>
                        <td data-label="N° Orden">{{ ticket.ticket_id }}</td>
                        <td data-label="Teléfono">{{ ticket.cliente.telefono }}</td>
                        <td data-label="Fecha de ingreso">{{ ticket.fecha_ingreso | date }}</td>
                        <td data-label="Estado">{{ ticket.estado }}</td>
                        <td data-label="Servicio">{{ ticket.tipo_servicio }}</td>
                        <td data-label="Acciones">
                            <button class="pdf-button" (click)="exportPDF(ticket)"><img src="assets/images/pdf 2.png"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
